<div>
  <%= '-' * level.to_i %>
  <strong><%= don_vi.ma_dinh_danh_dt %></strong>
  <span>. </span>

  <%= link_to new_upload_path(don_vi: don_vi.code) do %>
    <%= don_vi.ten %>
  <% end %>

  <% if don_vi.don_vi_con.present? %>
    <div>
      <% don_vi.don_vi_con.order(:code).each do |don_vi_con| %>
        <%= render partial: "don_vi", locals: { don_vi: don_vi_con, level: don_vi_con.cap } %>
      <% end %>
    </div>
  <% end %>
</div>
