<% cache ['don_vis', @don_vis.pluck('id')] do %>
<h1>Danh sách đơn vị hành chính</h1>

<div>
  <% @don_vis.each do |don_vi| %>
    <%= render partial: "don_vi", locals: { don_vi: don_vi, level: don_vi.cap } %>
  <% end %>
</div>

<% end %>