<h3>
<%= @don_vi&.code %>
-
<%= @don_vi&.ten %>
</h3>
<%= form_tag({ controller: 'uploads', action: 'create' }, multipart: true) do %>
  <input type="hidden" name="don_vi" value= <%= params[:don_vi].to_s %> >
  <div class="field">
    <label for="ten_bucket">Tên Bucket</label>
    <input type="text" id="ten_bucket" name="ten_bucket" placeholder="buc1" value='buc1'>
  </div>
  <br>

  <div class="field">
    <label for="duong_dan">Đường dẫn</label>
    <input type="text" id="duong_dan" name="duong_dan" placeholder="ha_noi/hoankiem" value=<%= @duong_dan %> >
  </div>
  <br>
  <%= file_field_tag 'file' %>
  <br>
  <br>
  <%= submit_tag 'Upload' %>
<% end %>


<br>
<br>
<%= link_to "Danh sach don vi", don_vis_path %>

<% if flash[:notice] %>
  <p class="alert alert-success"><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
  <p class="alert alert-danger"><%= flash[:alert] %></p>
<% end %>